<h1 style="margin: 1%">All categories</h1>

<% @categories.each do |category| %>
  <div class="categories">
    <p style="margin: 1%"><%= link_to category.name, category_path(category) %></p>
    <p style="margin: 1%"><%= category.description %></p>
  </div>
<% end %>


